In [83]:
# Import dependencies
import pandas as pd
import numpy as np
import datetime as dt

In [84]:
# Read the data into a Pandas DataFrame
od_data_df1 = pd.read_csv('data/Provisional_drug_overdose_death_counts_for_specific_drugs_20250128.csv')
od_data_df1.head()

,data_as_of,death_year,death_month,jurisdiction_occurrence,drug_involved,time_period,month_ending_date,drug_overdose_deaths,footnote
0,01/05/2025,2019,1,United States,Cocaine,12 month-ending,01/31/2019,15613.0,NaN
1,01/05/2025,2019,1,United States,Fentanyl,12 month-ending,01/31/2019,30367.0,NaN
2,01/05/2025,2019,1,United States,Gabapentin,12 month-ending,01/31/2019,1935.0,NaN
3,01/05/2025,2019,1,United States,Heroin,12 month-ending,01/31/2019,15475.0,NaN
4,01/05/2025,2019,1,United States,Methamphetamine,12 month-ending,01/31/2019,12059.0,NaN

In [85]:
# Checking dataframes columns and datatypes
od_data_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5082 entries, 0 to 5081
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   data_as_of               5082 non-null   object
 1   death_year               5082 non-null   int64
 2   death_month              5082 non-null   int64
 3   jurisdiction_occurrence  5082 non-null   object
 4   drug_involved            5082 non-null   object
 5   time_period              5082 non-null   object
 6   month_ending_date        5082 non-null   object
 7   drug_overdose_deaths     5048 non-null   float64
 8   footnote                 34 non-null     object
dtypes: float64(1), int64(2), object(6)
memory usage: 357.5+ KB

In [86]:
# Removing the extra columns and rows with null values from the dataframe 
columns = ['footnote', 'time_period']

PDOD_specific_df = od_data_df1.drop(columns=columns)
PDOD_specific_df.dropna()

,data_as_of,death_year,death_month,jurisdiction_occurrence,drug_involved,month_ending_date,drug_overdose_deaths
0,01/05/2025,2019,1,United States,Cocaine,01/31/2019,15613.0
1,01/05/2025,2019,1,United States,Fentanyl,01/31/2019,30367.0
2,01/05/2025,2019,1,United States,Gabapentin,01/31/2019,1935.0
3,01/05/2025,2019,1,United States,Heroin,01/31/2019,15475.0
4,01/05/2025,2019,1,United States,Methamphetamine,01/31/2019,12059.0
...,...,...,...,...,...,...,...
5077,01/05/2025,2024,2,Region 10,Gabapentin,02/29/2024,203.0
5078,01/05/2025,2024,3,Region 10,Gabapentin,03/31/2024,207.0
5079,01/05/2025,2024,4,Region 10,Gabapentin,04/30/2024,206.0
5080,01/05/2025,2024,5,Region 10,Gabapentin,05/31/2024,217.0
5081,01/05/2025,2024,6,Region 10,Gabapentin,06/30/2024,213.0

In [87]:
# Changing data types of the columns 
PDOD_specific_df['data_as_of'] = pd.to_datetime(PDOD_specific_df['data_as_of'], format='%m/%d/%Y')

PDOD_specific_df['death_year'] = PDOD_specific_df['death_year'].astype(int)

PDOD_specific_df['death_month'] = PDOD_specific_df['death_month'].astype(int)

PDOD_specific_df['jurisdiction_occurrence'] = PDOD_specific_df['jurisdiction_occurrence'].astype(str)

PDOD_specific_df['drug_involved'] = PDOD_specific_df['drug_involved'].astype(str)

PDOD_specific_df['month_ending_date'] = pd.to_datetime(PDOD_specific_df['month_ending_date'], format='%m/%d/%Y')

PDOD_specific_df['drug_overdose_deaths'] = PDOD_specific_df['drug_overdose_deaths'].astype(float)

PDOD_specific_df

,data_as_of,death_year,death_month,jurisdiction_occurrence,drug_involved,month_ending_date,drug_overdose_deaths
0,2025-01-05,2019,1,United States,Cocaine,2019-01-31,15613.0
1,2025-01-05,2019,1,United States,Fentanyl,2019-01-31,30367.0
2,2025-01-05,2019,1,United States,Gabapentin,2019-01-31,1935.0
3,2025-01-05,2019,1,United States,Heroin,2019-01-31,15475.0
4,2025-01-05,2019,1,United States,Methamphetamine,2019-01-31,12059.0
...,...,...,...,...,...,...,...
5077,2025-01-05,2024,2,Region 10,Gabapentin,2024-02-29,203.0
5078,2025-01-05,2024,3,Region 10,Gabapentin,2024-03-31,207.0
5079,2025-01-05,2024,4,Region 10,Gabapentin,2024-04-30,206.0
5080,2025-01-05,2024,5,Region 10,Gabapentin,2024-05-31,217.0
5081,2025-01-05,2024,6,Region 10,Gabapentin,2024-06-30,213.0

In [88]:
# Checking dataframes columns and datatypes after using astype
PDOD_specific_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5082 entries, 0 to 5081
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   data_as_of               5082 non-null   datetime64[ns]
 1   death_year               5082 non-null   int64
 2   death_month              5082 non-null   int64
 3   jurisdiction_occurrence  5082 non-null   object
 4   drug_involved            5082 non-null   object
 5   month_ending_date        5082 non-null   datetime64[ns]
 6   drug_overdose_deaths     5048 non-null   float64
dtypes: datetime64[ns](2), float64(1), int64(2), object(2)
memory usage: 278.1+ KB

In [89]:
# Saving the dataframe to a CSV
PDOD_specific_df.to_csv('data/PDOD_specific_cleaned.csv', index=False)

In [90]:
# Read the data into a Pandas DataFrame
od_data_df2 = pd.read_csv('data/VSRR_Provisional_Drug_Overdose_Death_Counts_20250128.csv')
od_data_df2.head()

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
0,AK,2015,April,12 month-ending,Methadone (T40.3),NaN,100.0,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
1,AK,2015,April,12 month-ending,Percent with drugs specified,88.095238,100.0,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
2,AK,2015,April,12 month-ending,"Natural, semi-synthetic, & synthetic opioids, ...",NaN,100.0,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
3,AK,2015,April,12 month-ending,"Synthetic opioids, excl. methadone (T40.4)",NaN,100.0,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
4,AK,2015,April,12 month-ending,Heroin (T40.1),NaN,100.0,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN

In [91]:
# Checking dataframes columns and datatypes
od_data_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69600 entries, 0 to 69599
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State                          69600 non-null  object
 1   Year                           69600 non-null  int64
 2   Month                          69600 non-null  object
 3   Period                         69600 non-null  object
 4   Indicator                      69600 non-null  object
 5   Data Value                     58207 non-null  float64
 6   Percent Complete               69600 non-null  float64
 7   Percent Pending Investigation  69600 non-null  float64
 8   State Name                     69600 non-null  object
 9   Footnote                       69600 non-null  object
 10  Footnote Symbol                69600 non-null  object
 11  Predicted Value                46284 non-null  float64
dtypes: float64(4), int64(1), object(7)
memory usage: 6.4+ MB

In [92]:
# Removing the extra columns and rows with null values from the dataframe 
columns = ['Footnote', 'Footnote Symbol','Predicted Value','Percent Pending Investigation','Percent Complete','Period']

VSRR_df = od_data_df2.drop(columns=columns)

VSRR_df.dropna()

,State,Year,Month,Indicator,Data Value,State Name
1,AK,2015,April,Percent with drugs specified,88.095238,Alaska
5,AK,2015,April,Number of Deaths,4133.000000,Alaska
10,AK,2015,April,Number of Drug Overdose Deaths,126.000000,Alaska
13,AK,2015,August,Percent with drugs specified,87.903226,Alaska
15,AK,2015,August,Number of Drug Overdose Deaths,124.000000,Alaska
...,...,...,...,...,...,...
69595,YC,2024,May,"Opioids (T40.0-T40.4,T40.6)",2425.000000,New York City
69596,YC,2024,May,Cocaine (T40.5),1527.000000,New York City
69597,YC,2024,May,"Natural, semi-synthetic, & synthetic opioids, ...",2382.000000,New York City
69598,YC,2024,May,Methadone (T40.3),319.000000,New York City
69599,YC,2024,May,Percent with drugs specified,99.757029,New York City

In [93]:
# Changing data types of the columns and adding the reigon column
VSRR_df['State'] = VSRR_df['State'].astype(str)

VSRR_df['State Name'] = VSRR_df['State Name'].astype(str)

VSRR_df['Year'] = VSRR_df['Year'].astype(int)

VSRR_df['Month'] = pd.to_datetime(VSRR_df['Month'], format='%B').dt.month

VSRR_df['Indicator'] = VSRR_df['Indicator'].astype(str)

VSRR_df["Region"] = 0
VSRR_df['Region'] = VSRR_df['Region'].astype(int)

VSRR_df

,State,Year,Month,Indicator,Data Value,State Name,Region
0,AK,2015,4,Methadone (T40.3),NaN,Alaska,0
1,AK,2015,4,Percent with drugs specified,88.095238,Alaska,0
2,AK,2015,4,"Natural, semi-synthetic, & synthetic opioids, ...",NaN,Alaska,0
3,AK,2015,4,"Synthetic opioids, excl. methadone (T40.4)",NaN,Alaska,0
4,AK,2015,4,Heroin (T40.1),NaN,Alaska,0
...,...,...,...,...,...,...,...
69595,YC,2024,5,"Opioids (T40.0-T40.4,T40.6)",2425.000000,New York City,0
69596,YC,2024,5,Cocaine (T40.5),1527.000000,New York City,0
69597,YC,2024,5,"Natural, semi-synthetic, & synthetic opioids, ...",2382.000000,New York City,0
69598,YC,2024,5,Methadone (T40.3),319.000000,New York City,0
69599,YC,2024,5,Percent with drugs specified,99.757029,New York City,0

In [94]:
# Creating the state reigon dictionary 
regions = {
    1: ["Connecticut", "Maine", "Massachusetts", "New Hampshire", "Rhode Island", "Vermont"],
    2: ["New Jersey", "New York", "Pennsylvania"],
    3: ["Illinois", "Indiana", "Michigan", "Ohio", "Wisconsin"],
    4: ["Iowa", "Kansas", "Minnesota", "Missouri", "Nebraska", "North Dakota", "South Dakota"],
    5: ["Delaware", "District of Columbia", "Florida", "Georgia", "Maryland", "North Carolina", "South Carolina", "Virginia",  "West Virginia"],
    6: ["Alabama", "Kentucky", "Mississippi", "Tennessee"],
    7: ["Arkansas", "Louisiana", "Oklahoma", "Texas"],
    8: ["Arizona", "Colorado", "Idaho", "Montana", "Nevada", "New Mexico", "Utah", "Wyoming"],
    9: ["Alaska", "California", 'Hawaii', "Oregon", "Washington"]
}

In [95]:
# Updating the region column for each row using the dictionary
for index, row in VSRR_df.iterrows():
    for key, value in regions.items():
        if row['State Name'] in value:
            VSRR_df.at[index, 'Region'] = key
            break

In [96]:
# Getting rid of all rows with data values of zero then saving the dataframe to a CSV 
VSRR_df = VSRR_df[VSRR_df['Data Value'] != 0]

VSRR_df.to_csv('data/VSRR_cleaned.csv', index=False)